name: "Production Deployment"
on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows manual trigger after you approve TFC

jobs:
  wait-and-deploy:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_wrapper: false # Recommended for cleaner script output

      - name: Wait for TFC Apply
        uses: binxio/tfe-run-wait-action@main
        with:
          token: ${{ secrets.TF_API_TOKEN }}
          organization: "my-terraform-aws-projects-2025"
          workspace: "AWS-Cloud-Fun-Facts-Generator"
          # This step will 'hang' and stream TFC logs to GitHub
          # It only moves to the next step once TFC is 'Applied'

      - name: Terraform Init
        run: terraform init

      - name: Fetch Outputs from Terraform
        id: vars
        run: |
          # Fetch exact values directly from Terraform Cloud outputs
          echo "BUCKET_NAME=$(terraform output -raw s3_bucket_id)" >> $GITHUB_ENV
          echo "DIST_ID=$(terraform output -raw cloudfront_distribution_id)" >> $GITHUB_ENV
          echo "API_URL=$(terraform output -raw api_invoke_url)" >> $GITHUB_ENV
          echo "AWS_REGION=$(terraform output -raw aws_region)" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::871308866502:role/GitHubActionRole
          aws-region: ${{ env.AWS_REGION }}
        
      - name: Inject API URL into Frontend
        run: |
          # This replaces the ${api_url} placeholder with the actual URL discovered above
          sed -i "s|\${api_url}|${{ env.API_URL }}/|g" ./frontend/index.html

      - name: Deploy Frontend to S3
        run: aws s3 sync ./frontend/ s3://${{ env.BUCKET_NAME }} --delete

      - name: Invalidate CloudFront Cache
        run: aws cloudfront create-invalidation --distribution-id ${{ env.DIST_ID }} --paths "/*"

      - name: Run Deployment Health Check
        run: |
          chmod +x ./scripts/health-check.sh
          ./scripts/health-check.sh
        env:
          AWS_REGION: ${{ env.AWS_REGION }}