name: "Infrastructure CI"
on:
  pull_request:
    branches:
      - main

jobs:
  terraform-ci:
    name: "Lint & Security"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        # Add this step back to install the terraform command
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false # Recommended for cleaner script output

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Init & Validate
        run: |
          terraform init -backend=false
          terraform validate

      - name: tfsec Security Scan
        uses: aquasecurity/tfsec-pr-commenter-action@v1.2.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}